.alumni-heading {
  position: absolute;
  top: 0;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
  color: $alumni-heading-color;
  font-family: $heading-font-family;
  letter-spacing: 5%;
}

	.alumni-heading-bold {
		@include font-size(3.6, 1);
		font-weight: 700;
	}

	.alumni-heading-small {
		@include font-size(2.4, 1);
	}

.alumni-members {
	position: absolute;
	z-index: 1;
	top: 15vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 80vw;
	margin: 0 10vw;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 3.2rem;
	height: 72vh;
	overflow-y: scroll;
}

	.alumni-member {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 19.4rem;
		height: 25rem;
		padding: 1.2rem 0;
		justify-content: space-between;
	}

		.alumni-member-image-container {
			@include aspect-ratio(1, 0.99);
			border-radius: 50%;
			overflow: hidden;
			width: 46.5%;
			margin-left: 26.75%;
			margin-right: 26.75%;
		}

		.alumni-member-name {
			@include font-size(2, 1);
			vertical-align: center;
			font-family: $heading-font-family;
			font-weight: 600;
			padding: 0.65rem 0;
			margin-top: 0.8rem;
		}

		.alumni-member-work, .alumni-member-company {
			@include font-size(1.6, 1);
			padding: 0.45rem 0;
			color: $alumni-info-color;
			font-family: $heading-font-family;
		}

		.alumni-member-company {
			font-weight: 600;
		}

		.alumni-member-links {
			display: flex;
			justify-content: center;
			align-items: center;
		}

			.alumni-member-link {
				@include aspect-ratio(1, 1);
				width: 3.2rem;
				overflow: hidden;
				border-radius: 100%;
				margin: 0.6rem 0.5rem;
			}
