/****NAV ICONS*****/

.nav-container {
  position: fixed;
  overflow: hidden;
  height: 4rem;
  width: 6rem;
  left: calc(50% - 3rem);
  right: calc(50% - 3rem);
  z-index: 5;
}

  .nav-outer {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: $cross-background-color;
    cursor: pointer;
  }

  .nav-inner {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: $cross-foreground-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .nav-icon {
      width: 1.6rem;
      height: 1.6rem;
    }


/***UP ICON TOP****/

.nav-up-container {
  top: 0;
}
  
  .nav-up-outer {
    margin-top: -2rem;
  }

  .nav-up-inner {
    margin: 0.4rem 0.6rem 0.8rem 0.6rem;
  }

    .nav-up-icon {
      margin-top: 1rem;
    }

/***CROSS ICON BOTTOM***/

.nav-cross-container {
  bottom: 0rem;
}

  .nav-cross-inner {
    margin: 0.8rem 0.6rem 0.4rem 0.6rem;
  }

    .nav-cross-icon {
      margin-bottom: 1rem;
    }


/* MAIN PAGE */

#icon {
  position: absolute;
  top: 4.8vh;
  left: 18.67vw;
  z-index: 10;
  cursor: pointer;
  padding: 0;
}

.circle-container {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 55vh;
  display: flex;
  justify-content: space-between;
}

.circle {
  height: 29.2vh;
  width: 29.2vh;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.5vw;
  color: #FFF;
  opacity: 0.8;
}

.circle-animate-in {
  -webkit-animation: fadeOut .5s linear;
  -moz-animation: fadeOut .5s linear;
  -o-animation: fadeOut .5s linear;
  animation: fadeOut .5s linear;
}

.circle-animate-out {
  animation-direction:reverse;
  -webkit-animation: fadeOut .5s linear;
  -moz-animation: fadeOut .5s linear;
  -o-animation: fadeOut .5s linear;
  animation: fadeOut .5s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    transform: scale(10%);
  }
}


.circle>img {
  position: relative;
  top: 40%;
  height: 8vh;
}

.leftcircle {
  background: #fc332f;
  z-index: 1;
}

.rightcircle {
  background: #44bdc8;
  margin-left: -10vh;
}

#textleft, #textright {
  position: relative;
  top: 50%;
}

.mainpagetext {
  position: absolute;
  top: 69.14vh;
  left: 39.6vw;
  font-size: 2.63vw;
  letter-spacing: 1.08px;
  line-height: 4.3vw;
  font-family: arial;
  color: rgba(43, 43, 43, 0.8);
  font-weight: bold;
}

.descriptions {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
}

.descriptions-animate-in {
  -webkit-animation: fadeX .5s linear;
  -moz-animation: fadeX .5s linear;
  -o-animation: fadeX .5s linear;
  animation: fadeX .5s linear;
}

.descriptions-animate-out {
  animation-direction:reverse;
  -webkit-animation: fadeX .5s linear;
  -moz-animation: fadeX .5s linear;
  -o-animation: fadeX .5s linear;
  animation: fadeX .5s linear;

}

@keyframes fadeX {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

.headtext {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 3.5vw;
  line-height: 5.2vw;
  opacity: 0.2;
  color: rgb(43, 43, 43);
}

.subtext {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 5%;
  line-height: normal;
  font-weight: 600;
  font-size: 1.4vw;
  margin-left: -20px;
  margin-top: 50px;
  color: rgba(51, 51, 51, 0.89);
}


#left-top {
  top: 26vh;
  right: 70vw;
}

#left-middle {
  top: 41.1vh;
  right: 75vw;
}

#left-bottom {
  top: 52.3vh;
  right: 70vw;
}

#right-top {
  top: 26vh;
  left: 70vw;
}

#right-middle {
  top: 41vh;
  left: 75vw;
}

#right-bottom {
  top: 56vh;
  left: 70vw;
}

@media only screen and (max-width: 800px) {
  .circle-container {
    width: 50vw;
  }

  .circle {
    height: 30vw;
    width: 30vw;
  }

  .circle>img {
    height: 10vw;
  }

  .rightcircle {
    margin-left: -5vw;
  }

  .descriptions {
    position: unset;
  }

  .team-stats {
    position: absolute;
    top: 75vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-evenly;
  }
    .right-column-stats, .left-column-stats {
      display: flex;
      flex-direction: column;
    }
    .headtext, .subtext {
      font-style: normal;
      font-size: 2.5vw;
      padding-left: 1vw;
      line-height: 5.2vw;
      margin-left: 0px;
      margin-top: 0px;
    }
    #left-top, #left-middle, #left-bottom,
    #right-top, #right-middle, #right-bottom {
      top: 0;
      left: 0;
    }

}



.nav-div-down {
  position: absolute;
  bottom: 0;
  left: 46.7vw;
  cursor: pointer;
  z-index: 1000;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: 45%;
  left: 45%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowtext {
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  bottom: 5.2vh;
  left: 46.57vw;
  font-size: 1.17vw;
  line-height: 1.9vw;
  letter-spacing: 0.8px;
}

/* Alumni location page */

.svg10sam {
  position: absolute;
  bottom: 25%;
  left: 36%;
}

.svg10eu {
  position: absolute;
  top: 30%;
  left: 52%;
}

.svg10saf {
  position: absolute;
  bottom: 26%;
  left: 53%;
}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 45%;
  top: 30%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/**general**/
.page.hidden {
  display: none;
}

.page {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.page.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
  overflow: auto;
}

.page-container, body, html {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

.vectorarrow {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 25%;
  bottom: 1.5vh;
}

.innersphere {
  position: absolute;
  left: 0.45vw;
  bottom: 0; 
}

.footer-text {
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  bottom: 5.2vh;
  left: 46.5vw;
  font-size: 1.17vw;
  line-height: 1.9vw;
  letter-spacing: 0.8px;
}

.vectorarrowup {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 23%;
  top: 0.7vh;
}

.innerspheremap {
  position: absolute;
  left: 0.3vw;
  top: 0;
}

.navup {
  position: absolute;
  top: 0;
  left: 46.7vw;
  z-index: 10;
}

.clip1 {
  -webkit-clip-path: url("#svgClip1");
  clip-path: url("#svgClip1");
}

.clip2 {
  -webkit-clip-path: url("#svgClip2");
  clip-path: url("#svgClip2");  
}

.clip3 {  
  -webkit-clip-path: url("#svgClip3");
  clip-path: url("#svgClip3");    
}

.clip4 {
  -webkit-clip-path: url("#svgClip4");
  clip-path: url("#svgClip4");  
}

.india, .usa {
  cursor: pointer;
}