/* MAIN PAGE */

#icon {
  position: absolute;
  top: 4.8vh;
  left: 16.67vw;
  z-index: 10;
  cursor: pointer;
  padding: 0;
}

#venn-maindiv {
  position: absolute;
  top: 30vh;
  left: 35vw;
  width: 500px;
  height: 300px;
  display: flex;
}

.leftcircle {
  height: 29.2vh;
  width: 16.47vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #fc332f;
  color: #FFF;
  opacity: 0.8;
  font: 25px "josefin sans", arial;
}

.rightcircle {
  display: table-cell;
  height: 29.2vh;
  width: 16.47vw;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #44bdc8;
  margin-left: -50px;
  color: #FFF;
  opacity: 0.8;
  font: 25px "josefin sans", arial;
}

#textleft, #textright {
  position: relative;
  top: 50%;
}

.mainpagetext {
  position: absolute;
  top: 69.14vh;
  left: 39.6vw;
  font-size: 2.63vw;
  letter-spacing: 1.08px;
  line-height: 4.3vw;
  font-family: arial;
  color: rgba(43, 43, 43, 0.8);
  font-weight: bold;
}

.descriptions {
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
}

#left-top {
  position: absolute;
  top: 30vh;
  left: 19.4vw;
}

.headtext {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 3.5vw;
  line-height: 5.2vw;
  opacity: 0.2;
  color: rgb(43, 43, 43);
}

.subtext {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: -20px;
  margin-top: 50px;
  color: rgba(51, 51, 51, 0.89);
}

#left-middle {
  position: absolute;
  top: 41.1vh;
  left: 15.7vw;
}

#left-bottom {
  position: absolute;
  top: 52.3vh;
  left: 21.15vw;
}

#right-top {
  position: absolute;
  top: 30vh;
  left: 67.3vw;
}

#right-middle {
  position: absolute;
  top: 41.1vh;
  left: 70.2vw;
}

#right-bottom {
  position: absolute;
  top: 52.3vh;
  left: 67.3vw;
}

.nav-div-down {
  position: absolute;
  bottom: 0;
  left: 46.7vw;
  cursor: pointer;
  z-index: 1000;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: 45%;
  left: 45%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowtext {
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  bottom: 5.2vh;
  left: 46.57vw;
  font-size: 1.17vw;
  line-height: 1.9vw;
  letter-spacing: 0.8px;
}

/* DESIGNER PAGE */

.mainborder-ds {
  background-color: #44bdc8;
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 50%;
  opacity: 0.05;
}

.bordertextds {
  position: relative;
  top: 40%;
  font-family: 'Catamaran', sans-serif;
  color: white;
  font-size: 36px;
  letter-spacing: 3.6px;
}

.rotateds {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#headings-ds {
  color: #f00;
  font-size: 36px;
  position: absolute;
  font-family: 'Catamaran', sans-serif;
  top: 22%;
  left: 8%;
  font-weight: bold;
  letter-spacing: 1.8px;
}

#horizontalrule-ds {
  background-color: #f00;
  position: absolute;
  top: 20.5%;
  left: 8%;
  width: 0%;
  height: 0.7%;
}

.superdiv-ds {
  position: absolute;
  top: 24%;
  left: 6%;
  right: 8%;
  height: 76%;
}

img.ds {
  margin: 15px;
  height: 200px;
  width: calc(100% - 30px);
  -webkit-border-radius: 20% 20% 21% 21%;
  -moz-border-radius: 20% 20% 21% 21%;
  border-radius: 20% 20% 21% 21%;
}

.nav-div-cross {
  position: absolute;
  bottom: 0;
  left: 47%;
  z-index: 10;
}

/* Developer Page */

.bodyborder-dv{
  position: absolute;
  top: 0;
  left: 0vw;
  opacity: 0.01;
  width: 50vw;
  height: 100%;
  background: red;
  align-content: center;
}
.bordertext-dv{
  position: relative;
  top: 50%;
  font-family: 'Catamaran', sans-serif;
  color: white;
  font-size: 36px;
  letter-spacing: 3.6px;
}
.rotate-dv {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
#headings-dv{
  color: #44bdc8;
  font-size: 36px;
  position: absolute;
  font-family: 'Catamaran', sans-serif;
  top: 18%;
  font-weight: bold;
  letter-spacing: 1.8px;
  left: 83%;
}
#horizontalrule-dv{
  background-color: #44bdc8;
  position: absolute;
  top: 16.5%;
  right: 5.4%;
  width: 0%;
  height: 0.7%;
}
.superdiv-dv{
  position: absolute;
  top: 20%;
  left: 8%;
  right: 5%;
  overflow: auto;
  height: 80%;
}
img.dv{
  margin: 15px;
  height: 200px;
  width: calc(100% - 30px);
}

/* Alumni location page */

.alumni-location {
  position: absolute;
  left: 17vw;
  height: 70vh;
  top: 25vh;
}

img.expand {
  /*width: 80em;*/
}

.svg50 {
  position: absolute;
  top: 45%;
  right: 29%;
}

.svg20 {
  position: absolute;
  top: 36%;
  left: 28%;
}

.svg10sam {
  position: absolute;
  bottom: 25%;
  left: 36%;
}

.svg10eu {
  position: absolute;
  top: 30%;
  left: 52%;
}

.svg10saf {
  position: absolute;
  bottom: 26%;
  left: 53%;
}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 45%;
  top: 30%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/** ALUMNI PAGE **/

.alumnihead {
  position: absolute;
  top: 12%;
  left: 36%;
  color: #b22222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.alumniheading {
  position: absolute;
  top: 12%;
  left: 42%;
  color: #b22222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.alumnipicdiv {
  position: absolute;
  top: 20%;
  /*left: 13%;
  right: 9%;*/
  left: 17.42vw;
  width: 66.7vw;
}

.column-6-left, .column-6-middle, .column-6-right {
  width: 16.5%;
  float: left;
}

.parts img {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.parts {
  text-align: center;
}

.name {
  font-family: 'Catamaran',sans-serif;
  font-size: 1.4vw;
  line-height: 2.4vw;
  align-content: left;
  font-weight: 600;
}

.work {
  position: relative;
  color: #8a1c19;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.17vw;
  line-height: 1.9vw;
  align-content: left;
}

.company {
  position: relative;
  color: #8a1c19;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.17vw;
  line-height: 1.9vw;
  font-weight: 600;
  align-content: left;
}

.contactslinks {
  display: flex;
}

.leftimg {
  position: relative;
  height: 80px;
  width: 80px;
  margin-left: 25%;
}

.rightimg {
  position: relative;
  height: 80px;
  width: 80px;
  margin-right: 15%;
}

.navcrossfull {
  position: absolute;
  bottom: 0;
  left: 45%;
  padding: 5px;
  z-index: 10;
}
/**general**/
.page.hidden {
  display: none;
}

.page {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.page.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.page-container, body, html {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  background-clip: content-box;
  top: 15px;
  bottom: 15px;
  left: 30px;
  right: 30px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(252,51,47,0.6);
  -webkit-border-radius: 20% 20% 21% 21%;
  -moz-border-radius: 20% 20% 21% 21%;
  border-radius: 20% 20% 21% 21%;
}

.col-sm-3:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: 'Catamaran', sans-serif;
  top: 30%;
  left: 50%;
  z-index: 90;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#developer-side-bar {
  animation-duration: 0.3s;
}

.contacticons{
  position: absolute;
  top: 40%;
  left: 3%;
  display:flex;
}

.fbico, .githubico, .twitterico, .behanceico, .emailico {

  height: 80px;
  width: 80px;
  padding: 15px;
}

.overlay-dv {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 30px;
  right: 30px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(68,189,200,0.6);
}

.col-sm-3:hover .overlay-dv {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

.vectorarrow {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 25%;
  bottom: 1.5vh;
}

.innersphere {
  position: absolute;
  left: 0.3vw;
  bottom: 0; 
}

.footer-text {
    font-family: 'Catamaran', sans-serif;
    position: absolute;
    bottom: 5.2vh;
    left: 46.5vw;
    font-size: 1.17vw;
    line-height: 1.9vw;
    letter-spacing: 0.8px;
}

.vectorarrowup {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 23%;
  top: 0.7vh;
}

.innerspheremap {
  position: absolute;
  left: 0.3vw;
  top: 0;
}

.navup {
  position: absolute;
  top: 0;
  left: 46.7vw;
  z-index: 10;
}

.clip1 {
  -webkit-clip-path: url("#svgClip1");
  clip-path: url("#svgClip1");
}

.clip2 {
  -webkit-clip-path: url("#svgClip2");
  clip-path: url("#svgClip2");  
}

.clip3 {
  -webkit-clip-path: url("#svgClip3");
  clip-path: url("#svgClip3");    
}

.clip4 {
  -webkit-clip-path: url("#svgClip4");
  clip-path: url("#svgClip4");  
}