.mainborder-ds, .bodyborder-dv {
  background-color: $sidebar-color;
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 50%;
  opacity: 0.05;
  z-index: 1;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#developer-side-bar {
  animation-duration: 0.3s;
}

.bodyborder-dv{
  background-color: $members-heading-color;
  left: 0;
}

.bordertextds, .bordertext-dv {
  @include font-size(3.6, 1);
  font-family: $heading-font-family;
  color: $white;
  position: relative;
  top: 40%;
  letter-spacing: 0.36rem;
}

.bordertext-dv {
  top: 50%;
}

.rotateds {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#headings-ds, #headings-dv {
  @include font-size(3.6, 1);
  color: $members-heading-color;
  position: absolute;
  font-family: $heading-font-family;
  top: 15rem;
  font-weight: bold;
  letter-spacing: 0.18rem;
  left: 18.67vw;
}

#headings-dv{
  color: $sidebar-color;
  left: auto;
  right: 18.67vw;
}

#horizontalrule-ds, #horizontalrule-dv {
  background-color: $members-heading-color;
  position: absolute;
  top: 19rem;
  left: 18.67vw;
  width: 0%;
  height: 0.7%;
}

#horizontalrule-dv{
  background-color: $sidebar-color;
  left: auto;
  right: 18.67vw;
}

.superdiv-ds, .superdiv-dv {
  position: relative;
  margin: 0 18.67vw;
  margin-top: 30vh;
  height: 70vh;
  overflow: hidden;
}

  .superdiv-child {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }

.gallery-member {
  @include aspect-ratio(210, 130);
  width: 19.4rem;
  margin: 1.25rem 1rem;

  &:hover {
    .gallery-member-overlay {
      opacity: 1;
    }
  }
}

  .gallery-member-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .5s ease;
    background-color: $designers-overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dv-gallery-member-overlay {
    background-color: $developers-overlay;
  }

    .gallery-member-overlay-name {
      @include font-size(2, 1);
      font-family: $heading-font-family;
      color: white;
      text-align: center;
    }

    .gallery-member-overlay-links {
      margin-top: 1.8rem;
      display: flex;
    }

      .gallery-member-overlay-link {
        display: block;
        height: 2.8rem;
        width: 2.8rem; 
        margin: 0 0.7rem;
      }

        .gallery-member-overlay-link-icon {
          height: 100%;
          width: 100%;
        }

.rotate-dv {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
