@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(carroisgothic.woff) format('woff');
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

body {
  background: #454545;
}

#wrapper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  width: 1180px;
  margin: 25px auto;
}

#container {
  width: inherit;
  margin: 0 0 0 10px;
}

.box.photo {
  margin-bottom: 10px;
  border: 1px solid black;
}

.photo img {
  -webkit-filter: grayscale(100%);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.photo:hover img {
  -webkit-filter: grayscale(0%);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-shadow: -1px 1px 10px #000;
  background-color: rgba(256,256,256,0.4);
  padding: 5px 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.photo:hover .img-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-title {
  margin-left: 10px;
  font-family: "Carrois Gothic";
}

.img-icons img {
  margin: 0 2px;
  height: 20px;
  margin-bottom: -3px;
  float: right;
}

.img-icons img:hover {
  -webkit-filter: invert(100%);
}
