/******BREAKPOINTS******/
/***FONT SIZES***/
/***FONTS****/
/****COLORS*****/
/**
 * Dump background-image styles
 */
/**
 * Used to generate font-size with line height.
 * @param  {decimal} $size
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
html {
  font-size: 8.7847728px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 0.7320644vw;
  }
}
body {
  margin: 0;
  padding: 0;
}

.icon svg {
  width: 4rem;
  height: auto;
}

/****NAV ICONS*****/
.nav-container {
  position: fixed;
  overflow: hidden;
  height: 4rem;
  width: 6rem;
  left: calc(50% - 3rem);
  right: calc(50% - 3rem);
  z-index: 5;
}

.nav-outer {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(138, 29, 25, 0.8);
  cursor: pointer;
}

.nav-inner {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: #8a1d19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
}

/***UP ICON TOP****/
.nav-up-container {
  top: 0;
}

.nav-up-outer {
  margin-top: -2rem;
}

.nav-up-inner {
  margin: 0.4rem 0.6rem 0.8rem 0.6rem;
}

.nav-up-icon {
  margin-top: 1rem;
}

/***CROSS ICON BOTTOM***/
.nav-cross-container {
  bottom: 0rem;
}

.nav-cross-inner {
  margin: 0.8rem 0.6rem 0.4rem 0.6rem;
}

.nav-cross-icon {
  margin-bottom: 1rem;
}

/* MAIN PAGE */
#icon {
  position: absolute;
  top: 4.8vh;
  left: 18.67vw;
  z-index: 10;
  cursor: pointer;
  padding: 0;
}

.circle-container {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle {
  height: 29.2vh;
  width: 29.2vh;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.5vw;
  color: #FFF;
  opacity: 0.8;
}

.circle-animate-in {
  -webkit-animation: fadeOut .5s linear;
  animation: fadeOut .5s linear;
}

.circle-animate-out {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-animation: fadeOut .5s linear;
  animation: fadeOut .5s linear;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(10%);
            transform: scale(10%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(10%);
            transform: scale(10%);
  }
}
.circle > img {
  position: relative;
  top: 40%;
  height: 8vh;
}

.leftcircle {
  background: #fc332f;
  z-index: 1;
}

.rightcircle {
  background: #44bdc8;
  margin-left: -10vh;
}

#textleft, #textright {
  position: relative;
  top: 50%;
}

.mainpagetext {
  position: absolute;
  top: 69.14vh;
  left: 39.6vw;
  font-size: 2.63vw;
  letter-spacing: 1.08px;
  line-height: 4.3vw;
  font-family: arial;
  color: rgba(43, 43, 43, 0.8);
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .mainpagetext {
    font-size: 6vw;
    left: 27.5vw;
    width: 45vw;
    text-align: center;
  }
}
.descriptions {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descriptions-animate-in {
  -webkit-animation: fadeX .5s linear;
  animation: fadeX .5s linear;
}

.descriptions-animate-out {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-animation: fadeX .5s linear;
  animation: fadeX .5s linear;
}

@-webkit-keyframes fadeX {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

@keyframes fadeX {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}
.headtext {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 3.5vw;
  line-height: 5.2vw;
  opacity: 0.2;
  color: #2b2b2b;
}

.subtext {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 5%;
  line-height: normal;
  font-weight: 600;
  font-size: 1.4vw;
  margin-left: -20px;
  margin-top: 50px;
  color: rgba(51, 51, 51, 0.89);
}

#left-top {
  top: 26vh;
  right: 70vw;
}

#left-middle {
  top: 41.1vh;
  right: 75vw;
}

#left-bottom {
  top: 52.3vh;
  right: 70vw;
}

#right-top {
  top: 26vh;
  left: 70vw;
}

#right-middle {
  top: 41vh;
  left: 75vw;
}

#right-bottom {
  top: 56vh;
  left: 70vw;
}

@media only screen and (max-width: 800px) {
  .circle-container {
    width: 50vw;
  }

  .circle {
    height: 30vw;
    width: 30vw;
  }

  .circle > img {
    height: 10vw;
  }

  .rightcircle {
    margin-left: -5vw;
  }

  .descriptions {
    position: unset;
  }

  .team-stats {
    position: absolute;
    top: 75vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 75vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .right-column-stats, .left-column-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .headtext, .subtext {
    font-style: normal;
    font-size: 3vw;
    padding-left: 1vw;
    line-height: 5.2vw;
    margin-left: 0px;
    margin-top: 0px;
  }

  #left-top, #left-middle, #left-bottom,
  #right-top, #right-middle, #right-bottom {
    top: 0;
    left: 0;
  }
}
.nav-div-down {
  position: absolute;
  bottom: 0;
  left: calc(50vw - 30px);
  cursor: pointer;
  z-index: 1000;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: 45%;
  left: 45%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowtext {
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  bottom: 5.2vh;
  left: 46.57vw;
  font-size: 1.17vw;
  line-height: 1.9vw;
  letter-spacing: 0.8px;
}

/* Alumni location page */
.svg10sam {
  position: absolute;
  bottom: 25%;
  left: 36%;
}

.svg10eu {
  position: absolute;
  top: 30%;
  left: 52%;
}

.svg10saf {
  position: absolute;
  bottom: 26%;
  left: 53%;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 45%;
  top: 30%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/**general**/
.page.hidden {
  display: none;
}

.page {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  overflow: hidden;
}

.page.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow: hidden;
}

.page-container, body, html {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

.vectorarrow {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 25%;
  bottom: 1.5vh;
}

.innersphere {
  position: absolute;
  left: calc(50% - 24px);
  bottom: 0;
}

.footer-text {
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  bottom: 5.2vh;
  left: 47vw;
  font-size: 2vw;
  line-height: 1.9vw;
  letter-spacing: 0.8px;
}

@media only screen and (max-width: 800px) {
  .footer-text {
    font-size: 3.5vw;
    width: 20vw;
    text-align: center;
    left: 40vw;
  }
}
.vectorarrowup {
  position: absolute;
  width: 16px;
  height: 10px;
  left: 23%;
  top: 0.7vh;
}

.innerspheremap {
  position: absolute;
  left: 0.3vw;
  top: 0;
}

.navup {
  position: absolute;
  top: 0;
  left: 46.7vw;
  z-index: 10;
}

.clip1 {
  -webkit-clip-path: url("#svgClip1");
  clip-path: url("#svgClip1");
}

.clip2 {
  -webkit-clip-path: url("#svgClip2");
  clip-path: url("#svgClip2");
}

.clip3 {
  -webkit-clip-path: url("#svgClip3");
  clip-path: url("#svgClip3");
}

.clip4 {
  -webkit-clip-path: url("#svgClip4");
  clip-path: url("#svgClip4");
}

.india, .usa {
  cursor: pointer;
}

.mainborder-ds, .bodyborder-dv {
  background-color: #45bec9;
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 50%;
  opacity: 0.05;
  z-index: 1;
}
.mainborder-ds:hover, .bodyborder-dv:hover {
  opacity: 1;
  cursor: pointer;
}

#developer-side-bar {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.bodyborder-dv {
  background-color: #fc3431;
  left: 0;
}

.bordertextds, .bordertext-dv {
  font-size: 36px;
  font-size: 31.62518208px;
  font-size: 3.6rem;
  line-height: 36px;
  line-height: 31.62518208px;
  line-height: 3.6rem;
  font-family: "Catamaran", sans-serif;
  color: white;
  position: relative;
  top: 40%;
  letter-spacing: 0.36rem;
}

.bordertext-dv {
  top: 50%;
}

.rotateds {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#headings-ds, #headings-dv {
  font-size: 36px;
  font-size: 31.62518208px;
  font-size: 3.6rem;
  line-height: 36px;
  line-height: 31.62518208px;
  line-height: 3.6rem;
  color: #fc3431;
  position: absolute;
  font-family: "Catamaran", sans-serif;
  top: 15rem;
  font-weight: bold;
  letter-spacing: 0.18rem;
  left: 18.67vw;
}

#headings-dv {
  color: #45bec9;
  left: auto;
  right: 18.67vw;
}

#horizontalrule-ds, #horizontalrule-dv {
  background-color: #fc3431;
  position: absolute;
  top: 19rem;
  left: 18.67vw;
  width: 0%;
  height: 0.7%;
}

#horizontalrule-dv {
  background-color: #45bec9;
  left: auto;
  right: 18.67vw;
}

.superdiv-ds, .superdiv-dv {
  position: relative;
  margin: 0 10.67vw 0 18.67vw;
  margin-top: 30vh;
  height: 68vh;
  overflow: hidden;
}

.superdiv-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

.gallery-member {
  position: relative;
  border-radius: 50%;
  width: 15rem;
  margin: 1.25rem;
}
.gallery-member:before {
  display: block;
  content: '';
  padding-top: 100%;
}
.gallery-member > .maintain-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}
.gallery-member > .maintain-aspect-ratio img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-member:hover .gallery-member-overlay {
  opacity: 1;
}

.gallery-member-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  background-color: rgba(252, 52, 49, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dv-gallery-member-overlay {
  background-color: rgba(69, 190, 201, 0.6);
}

.gallery-member-overlay-name {
  font-size: 20px;
  font-size: 17.5695456px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 17.5695456px;
  line-height: 2rem;
  font-family: "Catamaran", sans-serif;
  color: white;
  text-align: center;
}

.gallery-member-overlay-links {
  margin-top: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-member-overlay-link {
  display: block;
  margin: 0 0.7rem;
  height: 2.8rem;
  width: 2.8rem;
}

.gallery-member-overlay-link-icon {
  height: 100%;
  width: 100%;
}

.rotate-dv {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.alumni-heading {
  position: absolute;
  top: 0;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
  color: #b42222;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 5%;
}

@media only screen and (max-width: 800px) {
  .alumni-heading {
    padding-top: 10rem;
  }
}
.alumni-heading-bold {
  font-size: 36px;
  font-size: 31.62518208px;
  font-size: 3.6rem;
  line-height: 36px;
  line-height: 31.62518208px;
  line-height: 3.6rem;
  font-weight: 700;
}

.alumni-heading-small {
  font-size: 24px;
  font-size: 21.08345472px;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 21.08345472px;
  line-height: 2.4rem;
}

.alumni-members {
  position: absolute;
  z-index: 1;
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: 0 10vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3.2rem;
  height: 72vh;
  overflow-y: scroll;
}

.alumni-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 19.4rem;
  height: 25rem;
  padding: 1.2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alumni-member-image-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 46.5%;
  margin-left: 26.75%;
  margin-right: 26.75%;
}
.alumni-member-image-container:before {
  display: block;
  content: '';
  padding-top: 99%;
}
.alumni-member-image-container > .maintain-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}
.alumni-member-image-container > .maintain-aspect-ratio img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.alumni-member-name {
  font-size: 20px;
  font-size: 17.5695456px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 17.5695456px;
  line-height: 2rem;
  vertical-align: center;
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  padding: 0.65rem 0;
  margin-top: 0.8rem;
}

.alumni-member-work, .alumni-member-company {
  font-size: 16px;
  font-size: 14.05563648px;
  font-size: 1.6rem;
  line-height: 16px;
  line-height: 14.05563648px;
  line-height: 1.6rem;
  padding: 0.45rem 0;
  color: #8a1d19;
  font-family: "Catamaran", sans-serif;
}

.alumni-member-company {
  font-weight: 600;
}

.alumni-member-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alumni-member-link {
  position: relative;
  width: 3.2rem;
  overflow: hidden;
  border-radius: 100%;
  margin: 0.6rem 0.5rem;
}
.alumni-member-link:before {
  display: block;
  content: '';
  padding-top: 100%;
}
.alumni-member-link > .maintain-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}
.alumni-member-link > .maintain-aspect-ratio img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.alumni-map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.alumni-map {
  position: relative;
  width: 88rem;
  margin: auto;
}
.alumni-map:before {
  display: block;
  content: '';
  padding-top: 48.8662131519%;
}
.alumni-map > .maintain-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}
.alumni-map > .maintain-aspect-ratio img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.country-count-icon {
  position: absolute;
  background-image: url("../../images/Group.svg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

.country-count-icon.india {
  font-size: 48px;
  font-size: 42.16690944px;
  font-size: 4.8rem;
  line-height: 48px;
  line-height: 42.16690944px;
  line-height: 4.8rem;
  width: 14.5rem;
  height: 13.1rem;
  top: 45%;
  right: 15%;
}
.country-count-icon.india .country-count {
  padding-left: 1.5rem;
}

.country-count-icon.usa {
  font-size: 32px;
  font-size: 28.11127296px;
  font-size: 3.2rem;
  line-height: 32px;
  line-height: 28.11127296px;
  line-height: 3.2rem;
  top: 27%;
  left: 13%;
  width: 10rem;
  height: 9rem;
}
.country-count-icon.usa .country-count {
  padding-left: 1.3rem;
}
